@import '/src/sass/base.scss';

.container {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 40px;
  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.part {
  width: 50%;

  @media (max-width: 1023px) {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  .titleContainer {
    width: 80%;

    @media (max-width: 1023px) {
      width: 80%;
    }
  }

  .title {
    color: $secondary-color-dark;
    font-size: 60px;
    font-weight: 200;
    text-transform: uppercase;
    @media (max-width: 1023px) {
      font-size: 48px;
    }

    @media (max-width: 767px) {
      font-size: 36px;
    }
  }
  .arTitle {
    direction: rtl;
  }
  .paragraphContainer {
    margin-top: 40px;
    width: 80%;
    text-transform: uppercase;

    @media (max-width: 1023px) {
      width: 80%;
    }
  }
  .arTitle {
    direction: rtl;
  }
  .paragraph {
    color: $white-color;
    font-weight: 300;
    font-size: 20px;

    @media (max-width: 1023px) {
      font-size: 18px;
    }

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
}

.partContainer {
  display: flex;
  justify-content: flex-end;

  .imgContainer {
    width: 90%;
    height: 800px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 180%;
      height: 80%;

      @media (max-width: 1023px) {
        width: 120%;
      }

      @media (max-width: 767px) {
        width: 130%;
        height: auto;
        position: static;
      }
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  .button {
    background-color: $secondary-color-dark;
    color: $white-color;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: $black-color;
      color: $white-color;
    }
  }
}
