$primary-color-dark: #0e2a14;
$primary-color-light: #1a5527;
$secondary-color-dark: #bf9447;
$accent-color: #53acff;
$danger-color: #bf4747;
$success-color: #1a5527;
$white-color: #f5f6fa;
$black-color: #061008;
$main-font: 'Poppins', sans-serif;
